<div class="background-container">
    <div class="background-opaque-overlay">
        <h1 class="contact-us-header">Contact Us</h1>
        <div class="main-content card">
            <img class="contact-us-image" src="/astronaut_icon.png" alt="image of an astronaut">
            <div class="contact-us-text-container">
              <p class="contact-us-text">
                  Founder: Blake Ablin
              </p>
              <p class="contact-us-text">
                Email: Blake@BlakeAblin.com
              </p>
              <h1 class="about-us-header">About Us</h1>
              <p class="contact-us-text">
                  Integer ultrices cursus libero, ac rhoncus enim sagittis at. 
                  Maecenas commodo felis sit amet mauris ultrices semper. 
                  Vestibulum tristique lobortis dolor sodales sollicitudin. 
                  Phasellus laoreet mi est, id tristique dolor rutrum id. 
                  Interdum et malesuada fames ac ante ipsum primis in faucibus. 
                  Vivamus posuere purus in lectus congue ullamcorper. 
                  Proin elementum lacinia turpis a imperdiet. 
                  Vestibulum semper, nisi vitae mattis pretium, 
                  dolor quam gravida lacus, ac consequat turpis ante euismod nisi. 
              </p>
              <p class="contact-us-text">
                Mauris non augue a metus scelerisque porta. 
                Vestibulum mattis justo imperdiet, consectetur dolor at, 
                cursus enim. Fusce fermentum nunc in varius convallis. 
                Nullam nec pulvinar urna. Ut blandit sit amet magna ac rutrum. 
                Etiam auctor dui vitae orci condimentum tristique. 
                Nulla ornare massa sit amet tortor interdum eleifend. 
                Etiam at tempus urna. Sed sit amet dolor et urna hendrerit feugiat vel sed ex. 
              </p>
            </div>
        </div>
    </div>
</div>