nav.navbar {
    background: white;
    height: 180px;
    padding: 0px;
}

.navbar-light {
    .navbar-brand {
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 20px;
    }
}

.logo {
    height: 151px;
}
.left {
    display: flex;
    justify-content: flex-start;
    width: 65%;
}
.right {
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    width:35%;
}

.navbar-nav {
    .nav-item {
        display: flex;
    }
}

.navbar-nav {
    .nav-link {
        display: flex;
        height: 50%;
        font-weight: 500;
        font-size: 1.6rem;
    }   
}

#navbarSupportedContent.collapse.navbar-collapse {
    align-items: flex-end;
    padding-top: 20px;
}

.navbar-nav {
    .nav-link {
        &:hover,
            &:focus {
            -webkit-transform: scale(1.2);
        }
    }
}

@media(max-width: 768px){
    .navbar-toggler {
        height: 40%;
    }

    #navbarSupportedContent.collapsing.navbar-collapse {
        display: none;
    }

    #navbarSupportedContent.show.collapse.navbar-collapse {
        z-index: 1;
        background: white;
        display: flex;
        align-items: baseline;
        border: 1mm double rgba(0,0,0,0.1);
        padding-top: 5px;
        padding-left: 5px;
        margin-top: -15px;
        box-shadow: 12px 12px 2px 1px #797b7f;
    }

    .left {
        width: 50%;
    }
    .right {
        width: 50%;
    }
}

@media (min-width: 1440px) and (max-width: 2000px) {
    #navbarSupportedContent.collapse.navbar-collapse {
        height: 100%;
        align-items: flex-end;
        padding-top: 20px;
    }
    .right {
        padding-right: 15px;
    }
    .navbar-nav {
        .nav-link {
            font-weight: 500;
            font-size: 2.5rem;
        }   
    }
    .nav-item {
        padding-right:10px;
    }
}

@media (min-width: 2000px) {
    nav.navbar {
        height: 300px;
    }

    .navbar-light {
        .navbar-brand {
            padding-top: 50px;
            padding-left: 50px;
            padding-right: 20px;
            padding-bottom: 40px;
        }
    }

    .logo {
        height: 251px;
    }

    #navbarSupportedContent.collapse.navbar-collapse {
        height: 100%;
        align-items: flex-end;
        padding-top: 40px;
    }

    .left {
        width: 60%;
    }

    .right {
        width:40%;
        padding-right: 40px;
    }

    .navbar-nav {
        .nav-link {
            font-weight: 500;
            font-size: 4rem;
        }   
    }
}