.navbar-nav {
    .nav-link {
        line-height: 40px;
        font-weight: 500;
    }   
}

.navbar-nav {
    .nav-link {
        &:hover,
            &:focus {
            -webkit-transform: scale(1.2);
        }
    }
}